[Desktop Entry]
Version=1.0
Name=GoPWSafe
Comment=GoPWSafe is password database for pwsafe v3 dbs written in go
Exec=/usr/local/bin/gopwsafe
Path=/usr/local/bin/
Icon=/usr/share/icons/Humanity/apps/48/stock_keyring.svg
Terminal=false
Type=Application
Categories=Utility;Application;
